//-- Font size --//

$fontMain: 21px;
$fontH1: 42px;
$fontH2: 49px;
$fontTitle: 67px;
$fontMedium: 26px;
$fontSmall: 14px;

//-- Color --//

$white: #ffffff;
$blueDark: #08193c;
$blueDeep: #1e293a;
$blueLight: #2e4a79;
$blueBlur: #e7e8e9;
$yellow: #ffe864;
$red: #b31817;
$blackLight: #010203;
$grey: #4d4d4d;


//-- Size --//

$_15: 15px;
$_-15: -15px;
